{% extends"layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4"> Discord </h1>
    <p class="lead"> La aplicación Discord para ordenadores personales está diseñada específicamente para usarse mientras se juega, ya que incluye características como baja latencia, servidores de chat de voz gratuitos para usuarios y una infraestructura de servidor dedicada. </p>
    <hr class="my-4">
    <a href="https://discord.com/">Discord.com</a>


</div>


{% endblock %}
