{% extends"layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4"> Spotify </h1>
    <p class="lead"> Spotify es una aplicación multiplataforma sueco-estadounidense, empleada para la reproducción de música vía streaming. Cuenta con un modelo de negocio «premium», un servicio gratuito básico y con publicidad; pero con características adicionales, con una mejor calidad de audio, a través de una suscripción de pago. </p>
    <hr class="my-4">
    <a href="https://www.spotify.com/cr/premium/?utm_source=cr-es_brand_contextual-desktop_text&utm_medium=paidsearch&utm_campaign=alwayson_latam_cr_premiumbusiness_core_brand+contextual-desktop+text+exact+cr-es+google&gclid=Cj0KCQjwoJX8BRCZARIsAEWBFML_oY6okse3EAf0slG3BwJDc_jJ3cMCv_ZWMqjHyQdlg3awdoavWMoaAgQwEALw_wcB&gclsrc=aw.ds">Spotify.com</a>


</div>


{% endblock %}Spotify