{% extends"layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4"> Youtube </h1>
    <p class="lead"> Es un sitio web de origen estadounidense dedicado a compartir videos. Presenta una variedad de
        clips de películas, programas de televisión y vídeos musicales, así como contenidos amateur como videoblogs y
        YouTube Gaming </p>
    <hr class="my-4">
    <a href="https://www.youtube.com/?hl=es-419">YouTube.com</a>


</div>


{% endblock %}